<div class="container">
  <main role="main" class="container">
    <div class="jumbotron">
      <div class="row">
          <div class="col-5">
              <p class="lead mx-2">  Upload A video.</p> 
              <!-- <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs »</a> -->
              
          </div>
          <div class="col-5 mt-5">
              <div class="row-1">
                  <div class="col-5">

                      <p><form method="post">
                        <input type="file" accept="video/*" name="video_id" id="video_id"> 
                        <!-- <textarea name="textarea"></textarea> -->
                        
                      </form></p>
                      <hr>
                  </div>
                  <div class="col-5">
                      <p><input type="submit" value="submit"><span class="mx-3" id="wind_speed"></span></p>
                      <hr>
                  </div>
              </div>
                
          </div>
    </div>
  </div>
  </main>
</div>